/* common style */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

*,
::after,
::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f9fbfc;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
/* header style */
#header {
  margin-top: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f9fbfc;
}
#header .container {
}
#header .container .inner_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .container .inner_header .app_logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}
#header .container .inner_header .app_logo img {
  width: 100%;
}
#header .container .inner_header .header_menu {
}
#header .container .inner_header .header_menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .container .inner_header .header_menu ul li {
  padding-left: 40px;
}
#header .container .inner_header .header_menu ul li a {
  font-size: 16px;
  line-height: 44px;
  color: #242f51;
  font-weight: 400;
}
#header .container .inner_header .header_menu ul li a:hover {
  color: red;
}
#header .container .inner_header .header_menu ul li .try_btn {
  font-size: 13px;
  line-height: 37px;
  color: #ffffff;
  font-weight: 700;
  width: 170px;
  height: 57px;
  border-radius: 29px;
  background-color: #2500f9;
  border: 0;
  outline: 0;
}
#header .container .inner_header #menu_toggler {
  display: none;
  border: none;
  outline: none;
  background: transparent;
}
#header .container .inner_header #menu_toggler i {
  color: black;
  font-size: 34px;
}
/* banner style */
#banner {
  min-height: calc(100vh - 77px);
  background: url("/image/hero_bg.png");
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;
  background-size: cover;
}
#banner .container {
}
#banner .container .inner_banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
}
#banner .container .inner_banner .inner_content {
  flex-basis: 48%;
}
#banner .container .inner_banner .inner_content h4 {
  display: flex;
  align-items: center;
  width: 362px;
  height: 35px;
  border-radius: 17px;
  background-color: #e2eaed;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
#banner .container .inner_banner .inner_content h4 i {
  width: 39px;
  height: 35px;
  border-radius: 17px;
  background-color: #feaa25;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-right: 10px;
}
#banner .container .inner_banner .inner_content h1 {
  font-size: 60px;
  line-height: 75px;
  color: #242f51;
  font-weight: 600;
  margin: 40px 0;
}
#banner .container .inner_banner .inner_content p {
  font-size: 18px;
  line-height: 28px;
  color: #616368;
  font-weight: 400;
  margin: 40px 0;
}
#banner .container .inner_banner .inner_btn {
  display: flex;
  align-items: center;
}

#banner .container .inner_banner .inner_btn .first_btn .try_btn {
  font-size: 13px;
  line-height: 37px;
  color: #ffffff;
  font-weight: 700;
  width: 170px;
  height: 57px;
  border-radius: 29px;
  background-color: #2500f9;
  border: 0;
  outline: 0;
}
#banner .container .inner_banner .inner_btn .second_btn {
}
#banner .container .inner_banner .inner_btn .second_btn a {
  font-size: 16px;
  line-height: 44px;
  color: #2500f9;
  font-weight: 400;
}
#banner .container .inner_banner .inner_image {
  max-width: 370px;
  flex-basis: 48%;
}
#banner .container .inner_banner .inner_image img {
  width: 100%;
}
/* companies style */
#companies {
  margin-top: 100px;
}
#companies .container {
}
#companies .container h5 {
  font-size: 16px;
  line-height: 28px;
  color: #242f51;
  font-weight: 400;
  text-align: center;
  margin: 25px 0;
}
#companies .container .inner_company {
  display: flex;
  align-items: center;
  justify-content: space-around;
  row-gap: 15px;
}
#companies .container .inner_company img {
  width: 130px;
  margin: 15px;
}
/* feature style */
#features {
  margin-top: 100px;
}
#features .container {
}
#features .container .inner_features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
}
#features .container .inner_features .feature_image {
  flex-basis: 48%;
}
#features .container .inner_features .feature_image img {
  width: 100%;
}
#features .container .inner_features .feature_content {
  flex-basis: 48%;
}
#features .container .inner_features .feature_content h3 {
  font-size: 36px;
  line-height: 46px;
  color: #242f51;
  font-weight: 600;
  margin-bottom: 30px;
  max-width: 290px;
}
#features .container .inner_features .feature_content p {
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  margin-bottom: 50px;
}
.feature_content .content_details {
}
.feature_content .content_details .performance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
}
.feature_content .content_details .performance .logo {
}
.feature_content .content_details .performance .logo img {
  width: 85px;
  margin-right: 25px;
}
.feature_content .content_details .performance .content {
}
.feature_content .content_details .performance .content h4 {
  font-size: 20px;
  line-height: 58px;
  color: #f55767;
  font-weight: 600;
}
.feature_content .content_details .performance .content p {
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
}
/* jackpots style */
#jackpots {
}
#jackpots .container {
}
#jackpots .container .inner_jackpot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
  margin: 90px 0;
}
#jackpots .container .inner_jackpot .first_content {
  flex-basis: 48%;
}
#jackpots .container .inner_jackpot .first_content h2 {
  font-size: 40px;
  line-height: 50px;
  color: #242f51;
  font-weight: 600;
  border-right: 1px solid rgb(198, 190, 190);
  padding-right: 10px;
}
#jackpots .container .inner_jackpot .second_content {
  flex-basis: 48%;
}
#jackpots .container .inner_jackpot .second_content p {
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
}

#jackpots .container .content_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
}
#jackpots .container .content_details .content {
  flex-basis: 32%;
  padding: 0 25px;
}
#jackpots .container .content_details .content .logo {
}
#jackpots .container .content_details .content .logo img {
  width: 80px;
}
#jackpots .container .content_details .content h4 {
  font-size: 20px;
  line-height: 58px;
  font-weight: 600;
}
#jackpots .container .content_details .content:nth-child(1) h4 {
  color: #f55767;
}
#jackpots .container .content_details .content:nth-child(2) h4 {
  color: #2563ff;
}
#jackpots .container .content_details .content:nth-child(3) h4 {
  color: #40975f;
}
#jackpots .container .content_details .content p {
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
}

/* designed style */
#designed {
  margin-top: 100px;
}
#designed .container {
}
#designed .container .inner_designed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
}
#designed .container .inner_designed .image {
  flex-basis: 45%;
}
#designed .container .inner_designed .image img {
  width: 100%;
}
#designed .container .inner_designed .inner_content {
  flex-basis: 45%;
}
#designed .container .inner_designed .inner_content h3 {
  font-size: 36px;
  line-height: 46px;
  color: #242f51;
  font-weight: 600;
  max-width: 350px;
}
#designed .container .inner_designed .inner_content p {
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  margin: 35px 0;
}
#designed .container .inner_designed .inner_content .designed_btn {
}
#designed .container .inner_designed .inner_content .designed_btn button {
  width: 170px;
  height: 57px;
  border-radius: 29px;
  background-color: #2500f9;
  font-size: 16px;
  line-height: 44px;
  color: #ffffff;
  font-weight: 700;
  border: none;
  outline: none;
}
